index.aux
index.bbl
index.blg
index.log
index.out
index.pdf
texput.log
addendum.aux
addendum.log
addendum.out
addendum.pdf
whitepaper.pdf
primer.aux
primer.log
primer.out
primer.pdf
primer.bbl
primer.blg
